<nav class="navbar navbar-expand-lg navbar-dark bg-custom p-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ProCart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
      </ul>
      <form class="d-flex">
        <mat-icon mat-button [matMenuTriggerFor]="menu" class="color-white">add_shopping_cart</mat-icon>
<mat-menu #menu="matMenu">
  <ng-container *ngIf="cart.length <= 0">
    <div class="text-muted text-center mt-3">No Items Added</div>
  </ng-container>
  <ng-container *ngFor="let item of cart">
    <button mat-menu-item>{{item.title}}</button>
    <button mat-menu-item>{{item.price}} Rs</button>
    <mat-divider></mat-divider>
  </ng-container>
</mat-menu>
      </form>
    </div>
  </div>
</nav>
